---
import '@fontsource-variable/montserrat';
import Navbar from "../components/Navbar.astro";

---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wise House's Fake Real Estate</title>
    </head>
    <style is:global>
        html, body{
            padding:0;
            margin:0;
        }
        * {
            font-family: 'Montserrat Variable', sans-serif;            
        }
        p, span {
            font-weight: 300;
        }
    </style>
    <body>
        <Navbar />
        <slot></slot>
    </body>
</html>


